article{
    width: 100%;
    height: 70vh;
    background-color: rgba(0, 0, 0, 0.035);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0vh;
}
article div.article{
    width: 70%;
    height: 35vh;
    background-color: white;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.105);
    margin-bottom: 90px;
    margin-top: 35vh;
}
article div.article img{
    width: 14vh;
    border-radius: 100%;
    border-style: none;
    padding: auto;
    position: absolute;
    right: 40vh;
    margin-top: 5vh;
}
article div.article div.iden{
    display: inline-block;
    flex-direction: column;
    margin-top: 6vh;
}
div.iden h4{
    position: absolute;
    right: 58vh;
    font-size: 17px;
    font-weight: 700;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
div.iden p{
    line-height: 28px;
    position: absolute;
    right: 53vh;
    margin-top: 5vh;
    width: 57%;
    padding:0px 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
}

.navPage h3{
    color: rgba(0, 0, 0, 0.776);
    position: absolute;
    right: 14%;
    top: 32vh;
    font-size: 25px;
    font-weight: 200;
    padding: 15px;
} 

/******************************************************/

@media only screen and (max-width: 767px) {
    div.iden p{
        line-height: 28px;
        position: absolute;
        right: 53vh;
        margin-top: 5vh;
        width: 57%;
        padding:0px 20px;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 16px;
    }
    article div.article{
        width: 92%;
        height: 46vh;
        background-color: white;
        border-radius: 8px;
        border: 1px solid rgba(0, 0, 0, 0.105);
        margin-bottom: 140px;
        margin-top: 25vh;
    }
    article div.article img{
        width: 14vh;
        border-radius: 100%;
        border-style: none;
        padding: auto;
        position: absolute;
        right: 12vh;
        margin-top: 5vh;
    }
    div.iden h4{
        position: absolute;
        right: 31vh;
        font-size: 17px;
        font-weight: 700;
        font-family:Verdana, Geneva, Tahoma, sans-serif
    }
    div.iden p{
        line-height: 29px;
        position: absolute;
        right: 25vh;
        margin-top: 5vh;
        width: 75%;
        padding:10px 0px;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 16px;
    }
    .navPage h3{
        display: none;
    } 
}
/*******************************************************/

@media only screen and (max-width: 900px) {
    article div.article{
        width: 92%;
        height: 46vh;
        margin-bottom: 140px;
        margin-top: 25vh;
    }
    article div.article img{
        width: 14vh;
        border-radius: 100%;
        border-style: none;
        padding: auto;
        position: absolute;
        right: 12vh;
        margin-top: 5vh;
    }
    div.iden h4{
        position: absolute;
        right: 30vh;
    }
    div.iden p{
        line-height: 35px;
        position: absolute;
        right: 25vh;
        margin-top: 5vh;
        width: 75.5%;
        padding:10px 0px;
        font-size: 16px;
    }
    .navPage h3{
        display: none;
    } 
}
/**************************************/
@media only screen and (max-width: 500px) {
    div.iden p{
        line-height: 28px;
        position: absolute;
        right: 53vh;
        margin-top: 5vh;
        width: 57%;
        padding:0px 20px;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 10px;
    }
    article div.article{
        width: 90%;
        height: 50vh;
        background-color: white;
        border-radius: 8px;
        border: 1px solid rgba(0, 0, 0, 0.105);
        margin-bottom: 140px;
        margin-top: 25vh;
        position: relative;
        right: -10%;
    }
    article div.article img{
        width: 10vh;
        border-radius: 100%;
        border-style: none;
        padding: auto;
        position: absolute;
        right: 6vh;
        margin-top: 3vh;
    }
    div.iden h4{
        position: absolute;
        right: 18vh;
        font-size: 17px;
        font-weight: 700;
        font-family:Verdana, Geneva, Tahoma, sans-serif
    }
    div.iden p{
        line-height: 23px;
        position: absolute;
        right: 11vh;
        margin-top: 5vh;
        width: 77%;
        padding:10px 0px;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 14px;
        text-align: center;
    }
    .navPage h3{
        display: none;
    } 
}